*
{
    margin: 0;
    padding: 0;
}
.cabeçalho
{
    background-color: rgb(43, 59, 102);
    color: rgb(123, 173, 219);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.logocolegio
{
    width: 20%;
    justify-content: center;
}
.nomedaescola
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.lista
{
    color: rgb(95, 114, 167);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.liste a:active
{color: aqua;
}
.body
{
    background-image: -o-linear-gradient(#9698A5,#FFFFFF);
    color: blue;
    justify-content: center;
    padding: 24PX 0;
}

.rodapeimagem
{width: 1435px;}

.iconefacebook
{width: 60PX;
padding: 4px 8px;}

.iconeinstagram
{width: 60px;
padding: 4px 8px;}

.nomefacebook
{padding: 24px 0;}
